
/*

Logo colors
============================
#3586A2		aqua marine / teal
#013878		dark blue
#4E9D2D		eco green
rgb(171,131,77)  gold page titles (old, now retro, now current :/)
 */

 /* ----------------- Begin Insights Reports -------------------- */
.page-title h2 {
  color:rgb(171,131,77);
  font-size:1.25em;
  font-weight: normal;
}

.page-title p {
  font-size: 1.3em;
  font-weight: 300;
}


 div.insight-report {
   margin-top: 20vh;
   margin-left: 12%;
   margin-right: 12%;
 }

 div.title-block {
   overflow: hidden;
   position: relative;
   width: 100%;
   padding-bottom: 20px;
 }

 div.insight-report-title {
  float: left;
  width: 45%;
  height: 100%;
  }

 div.insight-report h2 {
   color: #013878;
   margin: 0;
   font-size: 3em;
 }

 div.insight-report h3 {
   color: #3586A2;
   font-size: 1.5em;
   margin-bottom: 5px;
 }

 div.insight-report h4 {
   font-size: 1.25em;
 }

 div.insight-report p {
   text-align: justify;
 }

 div.insight-report li {
 }

 div.insight-report-body li span {
   font-weight: bolder;
   text-decoration: underline;
 }

 div.insight-report-image img {
   position: relative;
   float: right;
   padding-left: 50px;
   padding-right: 25px;
   width: 50%;
 }


 div.insight-report-foreward {
   margin-top: 30px;
   margin-bottom: 20px;
   width: 100%;
 }

 div.insight-report-foreward p {
   font-style: italic !important;
   font-size: 1.25em !important
 }



 div.insight-report-body {
   margin-right: 30%;
 }


 div.insight-report-inner-title {
   font-family: "Montserrat",sans-serif;
   font-size: 1.5em;
   font-weight: bolder;
   text-align: left;
   margin-bottom: 15px;
 }

 div.insight-report-publication-date {
   margin-top: 20px;
 }

 div.insight-report-publication-date h6 {
   color: #3586A2;
   margin-left: 0px;
   font-weight: 300;
 }

 div.insight-report-publication-date span {
   color: gray;
   margin-top: 20px;
   margin-left: 5px;
   font-family: sans-serif;
 }

 div.insight-report-legal {
 }
 div.insight-report-legal p {
 }

 .footnote {
   font-style: italic;
   font-size: .8em;
 }
 /* ----------------- End Insights Reports -------------------- */


/* ----------------- Begin Site wide adjustments -------------------- */

.x-nav-wrap.desktop {
  padding-right: 30px;
}

a {
  text-transform: uppercase;
}

.legal-disclaimer {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 10px;
    text-align: justify;
}



/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

.legal-disclaimer {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	margin: 0px;
}


}

/********** Extra small devices only **********/
@media (max-width: 767px) {

.legal-disclaimer {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	margin: 0px;
}


}


.fundx-doc-box {
  border: 1px solid #aaa;
}

.fundx-doc-box:hover {
  box-shadow: 0 1px 7px 1px #bbb;
  border: 1px solid #eee;
}

/* ----------------- End Site wide adjustments -------------------- */

/*-------------------- Logo positioning  -----------------------------------*/
.x-brand {
  margin-left: 25px;
}

.fundx-green {
  color: #4E9D2D !important;
}

.fundx-aquamarine {
  color: #3586A2 !important;
}

.fundx-blue {
  color: #013878 !important;
}

.editor-note {
  color: orange  !important;
  font-style: italic !important;
  font-weight: bold !important;
  text-align: center;
}

.editor-border {
 /*  border: .5px dashed rgba(255, 0, 0, .15); */
}

.quarter-height {
  height: 25vh;
}

.third-height {
  height: 33vh;
}

.half-height {
  height: 50vh;
}

.twothird-height {
  height: 67vh;
}

.threequarter-height {
  height: 75vh;
}

.full-height {
  height: 100vh;
}

.fundx-banner {
  padding: 0px !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-clip: border-box;
  overflow: hidden;
  margin-left: -15px !important;
  margin-right: -15px !important;
  height:100vh;
  color:#fff;
}

.fundx-banner div {
    color: white;
    padding: 25px;
}

.fundx-banner h2 {
  color: white;
  font-size: 4em;
  font-weight: 400;
}

.fundx-banner h3 {
  color: white;
  font-size: 3em;
  font-weight: 300;
}


.fundx-full-column-image {
  padding: 0px !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-clip: border-box;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.fundx-text-white {
  color: white !important;
}

.fundx-text-normal {
  color: #555;
}

.fundx-panel-section {
  color: inherit;
}

.fundx-panel-section p {
  padding: 10px;
  color: inherit;
  font-family: inherit;
  font-style:normal;
  font-weight: inherit;
}

.fundx-panel-section h3 {
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-family: inherit;
  font-style:normal;
  font-weight: inherit;
}

.fundx-panel-section img {
}

.fundx-panel-text {
  padding: 25px;
}

.fundx-panel-label {
  text-align: center;
}

.fundx-eco-gradient {
	  background: #4E9D2D; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #4E9D2D, #4E9D2D, #92d775); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #4E9D2D, #4E9D2D, #92d775); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #4E9D2D, #4E9D2D, #92d775); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #4E9D2D, #4E9D2D, #92d775); /* Standard syntax */
}

.fundx-aquamarine-gradient {
	background: #3489A1; /* Logo teal green. For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #3489A1, rgba(52,137,161, 0.50)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #3489A1, rgba(52,137,161, 0.50)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #3489A1, rgba(52,137,161, 0.50)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #3489A1, rgba(52,137,161, 0.50)); /* Standard syntax */
}

.fundx-white-gradient {
    background: #ffffff; browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #FFFFFF, #f1f1f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #FFFFFF, #f1f1f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #FFFFFF, #f1f1f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #FFFFFF, #f1f1f1); /* Standard syntax */
}


.gradient-blue {
	background: #006199; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #4888AE , #006199); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #4888AE, #006199); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #4888AE, #006199); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #4888AE , #006199); /* Standard syntax */
}

.gradient-teal {
	background: #3586A2; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(53, 134, 162, .85) , rgba(53, 134, 162, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(53, 134, 162, .85), rgba(53, 134, 162, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(53, 134, 162, .85), rgba(53, 134, 162, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(53, 134, 162, .85) , rgba(53, 134, 162, 1)); /* Standard syntax */
}
