
.legal-disclaimer {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 10px;
    text-align: justify;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

.legal-disclaimer {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	margin: 0px;
}


}

/********** Extra small devices only **********/
@media (max-width: 767px) {

.legal-disclaimer {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	margin: 0px;
}


}


.fundx-doc-box {
  border: 1px solid #aaa;
}

.fundx-doc-box:hover {
  box-shadow: 0 1px 7px 1px #bbb;
  border: 1px solid #eee;
}


/*-------------------- Logo positioning  -----------------------------------*/
.x-brand {
  margin-left: 25px;
}

.fundx-green {
  color: #4E9D2D !important;
}

.fundx-aquamarine {
  color: #3586A2 !important;
}

.fundx-blue {
  color: #013878 !important;
}

.editor-note {
  color: orange  !important;
  font-style: italic !important;
  font-weight: bold !important;
  text-align: center;
}

.editor-border {
  border: .5px dashed rgba(255, 0, 0, .15);
}

.quarter-height {
  height: 25vh;
}

.third-height {
  height: 33vh;
}

.half-height {
  height: 50vh;
}

.twothird-height {
  height: 67vh;
}

.threequarter-height {
  height: 75vh;
}

.full-height {
  height: 100vh;
}

.fundx-banner {
  padding: 0px !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-clip: border-box;
  overflow: hidden;
  margin-left: -15px !important;
  margin-right: -15px !important;
  height:100vh;
  color:#fff;
}

.fundx-banner div {
    color: white;
    padding: 25px;
}

.fundx-banner h2 {
  color: white;
  font-size: 4em;
  font-weight: 400;
}

.fundx-banner h3 {
  color: white;
  font-size: 3em;
  font-weight: 300;
}


.fundx-full-column-image {
  padding: 0px !important;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-clip: border-box;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.fundx-text-white {
  color: white !important;
}

.fundx-text-normal {
  color: #555;
}

.fundx-panel-section {
  color: inherit;
}

.fundx-panel-section p {
  padding: 10px;
  color: inherit;
  font-family: inherit;
  font-style:normal;
  font-weight: inherit;
}

.fundx-panel-section h3 {
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-family: inherit;
  font-style:normal;
  font-weight: inherit;
}

.fundx-panel-section img {
}

.fundx-panel-text {
  padding: 25px;
}

.fundx-panel-label {
  text-align: center;
}

.fundx-eco-gradient {
	  background: #4E9D2D; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #4E9D2D, #4E9D2D, #92d775); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #4E9D2D, #4E9D2D, #92d775); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #4E9D2D, #4E9D2D, #92d775); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #4E9D2D, #4E9D2D, #92d775); /* Standard syntax */
}

.fundx-white-gradient {
    background: #ffffff; browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #FFFFFF, #f1f1f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #FFFFFF, #f1f1f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #FFFFFF, #f1f1f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #FFFFFF, #f1f1f1); /* Standard syntax */
}


.gradient-blue {
	background: #006199; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #4888AE , #006199); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #4888AE, #006199); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #4888AE, #006199); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #4888AE , #006199); /* Standard syntax */

/*
  background: -webkit-linear-gradient(#006199, #00b4d2, #00b4d2, #ffffff, #ffffff);
    background: -o-linear-gradient(#006199, #00b4d2, #00b4d2, #ffffff, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#006199, endColorstr= #ffffff);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColor=#006199, endColorStr= #ffffff);
    background: -ms-linear-gradient(#006199, #00b4d2, #00b4d2, #ffffff, #ffffff);
    background: -moz-linear-gradient(#006199, #00b4d2, #00b4d2, #ffffff, #ffffff);
    background: linear-gradient(rgba(0, 97, 153, 1), rgba(0, 97, 153, .75), rgba(0, 97, 153, .5), rgba(0, 97, 153, .25), #F9F9F9);
*/
}
