.affix {
    top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 70px;
}
/*---------------------------------*/


.landing-banner-text {
  position: absolute;
  top: 450px;
  left: 5px;
  height: 30%;
  width: 100%;
  margin: -15% 0 0 0;
  background-color: rgba(1,56,120, .5);
}

.landing-banner h3 {
  margin-top:0px;
  color: white;
  font-size: 3em;
  font-weight: 500;
}

.landing-banner span {
  padding-right: 5px;
}
/* ---------------------------------------------------------------- */


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .landing-banner {
      height: 400px;
    }

    .landing-banner-text {
      top: 350px;
      height: 30%;
    	background-color: rgba(0,0,0, 0)!important;
    }

    .landing-banner h2 {
      font-size: 3.5em!important;
      font-weight: 500!important;
    }

    .landing-banner h3 {
      font-size: 2.5em;
      font-weight: 400;
    }

    .landing-title-h2 {
      font-size: 3.5em!important;
      line-height: 60px!important;
		}

  .landing-bottom-banner h2 {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
    padding: 10px 5px 2px 5px!important;
    font-size: 45px!important;
    font-weight: 400!important;
    line-height: 50px!important;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .x-topbar {
      visibility: hidden!important;
      min-height: 0px!important;
      height: 0px!important;
      padding: 0px!important;
    }

    .landing-banner {
      height: 250px;
	  }

    .landing-banner-text {
      top: 200px;
      height: 30%;
    	background-color: rgba(0,0,0, 0)!important;
    }

  	.landing-banner h2 {
      font-size: 3em!important;
      font-weight: 400!important;
    }

    .landing-banner h3 {
      font-size: 2.5em;
      font-weight: 300;
    }

  .landing-title-h2 {
      font-size: 3em!important;
      line-height: 35px!important;
      margin-bottom: 0px!important;
		}

  .landing-bottom-banner h2 {
    margin-top: 25px!important;
    margin-bottom: 25px!important;
    padding: 10px 5px 2px 5px!important;
    font-size: 35px!important;
    font-weight: 500!important;
    line-height: 45px!important;
  }

  .landing-banner span {
    background-color: rgba(0,0,0, 0)!important;
  }

  .landing-bottom-banner p {
    font-size: 1.15em!important
    line-height: 20pxt!important;
    text-align: justify!important;
	}

  .section-scrollify {
  }

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
    .x-topbar {
      visibility: hidden!important;
      min-height: 0px!important;
      height: 0px!important;
      padding: 0px!important;
    }

  .x-container {
     padding-right: 0px!important;
     padding-left: 0px!important;
     margin-top: 0px!important;
  }

  .landing-banner {
      height: 250px;
	  }

    .landing-banner-text {
      top: 125px;
      height: 30%;
    	background-color: rgba(0,0,0, 0)!important;
    }

  	.landing-banner h2 {
      font-size: 2.5em!important;
      font-weight: 400!important;
    }

    .landing-banner h3 {
      font-size: 1.5em;
      font-weight: 300;
    }

  .landing-title-h2 {
      font-size: 2.5em!important;
      line-height: 35px!important;
      margin-bottom: 5px!important;
		}

  .landing-bottom-banner {
    margin-left: 10px!important;
    margin-right:10px!important;
  }

  .landing-bottom-banner h2 {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 10px 5px 2px 5px!important;
    font-size: 35px!important;
    font-weight: 500!important;
    line-height: 40px!important;
  }

  .landing-banner span {
  }

  .landing-bottom-banner p {
    font-size: 1.15em!important;
    line-height: 10pxt!important;
    text-align: justify!important;
	}

  .fish-bowl-responsive {
      visibility: hidden;
      height: 0px;
  }

  .bottom-banner-image {
    visibility: hidden;
    height: 0px;
  }

  .bottom-banner-image-column {
    visibility: hidden;
    height: 0px;
  }

  .section-scrollify {
  }

  #panel2 {
    background-color: #eee!important;
    padding-right: 0px!important;
  }

}
